.reveal .slide-background {
  background-color: rgb(239, 243, 249);

  background-image: url('img/sapinsider.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
}

.reveal {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: normal;
}

.slide-background-content {
  border-radius: 30% 75% / 80%;
}

.reveal h1 {
  text-transform: none;
  font-weight: bold;
}

.reveal h2 {
  text-transform: none;
  font-weight: bold;
}

.reveal h3 {
  text-transform: none;
  font-weight: bold;
}

.reveal section img {
  background: unset;
}

.reveal table th, .reveal table td {
  border-bottom: unset;
}

.reveal pre {
  box-shadow: unset;
}

.reveal pre code {
  max-height: unset;
}

.reveal a:hover img {
  background: unset;
  border-color: unset;
  box-shadow: unset;
}

.greyscale {
  -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
  filter: grayscale(80%) invert(30%);;
}